<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZFqJfRrJXx22wweK-vudoapPA9a-Jgjc</string>
	<key>GCM_SENDER_ID</key>
	<string>711134472336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleanit.cleanit</string>
	<key>PROJECT_ID</key>
	<string>cleanit-b249a</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanit-b249a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711134472336:ios:34e3564f625582e75fd015</string>
</dict>
</plist>